# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# dotenv environment variables file
.env
.env.test

# Dependency directories
node_modules/

# Log files
.log

# Excel files
.xls