/* Spacing */
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 25px;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.mr-5 {
  margin-right: 25px;
}

/* Sidebar emails & font-awesome icons */

ul.sidebar-menu .user-email {
  border-bottom: 1px solid #212121;
  color: #fff;
  font-style: italic;
  margin-bottom: 1em;
  padding: 0 0.5em 1em;
  text-align: center;
}

ul.sidebar-menu li a i {
  width: 1.8em;
}

/* Dashboard - Cards */

.grey-panel,
.weather {
  cursor: pointer;
}

.grey-panel .grey-header {
  margin-bottom: 0px;
}

.weather {
  background-image: none;
  background-color: #e0e0e0;
  font-family: Ruda, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
}

.weather h2,
.weather i {
  color: #757575;
}

/* Find Unit Offering - Tasks */

.tasks-widget i.icon {
  float: left;
  padding-top: 2px;
  width: 30px;
}

.tasks-widget .task-list > li {
  padding: 20px 5px;
}

.tasks-widget .task-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* View Unit Offering - Tasks Table */

.tasks-table > tbody > tr,
.tasks-table > tbody > tr:active {
  cursor: pointer;
}

.tasks-table > thead > tr > th,
.tasks-table > tbody > tr > td {
  font-size: 1.4rem;
}

.tasks-table > tbody > tr > td {
  padding-bottom: 0.7em;
  padding-top: 0.7em;
  padding-left: 0.7em;
  padding-right: 1em;
}

.tasks-table > tbody > tr > td,
.tasks-table > tbody > tr > td a {
  color: #212121;
}

.tasks-table > tbody > tr > td.task-name {
  font-weight: bold;
}

/* Add New Task - Date Picker */

.react-datepicker {
  font-size: 1rem;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2em;
}

.react-datepicker-popper {
  z-index: 5;
}

/* View Task - Booking Slot Rows (Table) */

.taskname {
  font-weight: bold;
}

.table.slots-table th {
  background-color: #212121;
  color: #fff;
  padding: 0.8em 0.75em;
}

.table.slots-table td {
  padding: 1em 0.75em;
  cursor: pointer;
}

.table.slots-table .row-bold td {
  font-weight: bold;
}

.table.slots-table .row-fade {
  background-color: #ffebee;
  color: #757575;
}

.table.slots-table tr:hover {
  background-color: #eceff1;
}

/* View Booking Slot - Booking Slot (Table) */

.booking-slot-table > tbody > tr > th,
.booking-slot-table > tbody > tr > td {
  color: #212121;
}

.booking-slot-table > caption {
  background-color: #212121;
  color: #fff;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 1em;
}

/* View Booking Slot - Actions */

.booking-actions .action {
  color: #212121;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.booking-actions .action:hover {
  color: #4ecdc4;
}

.booking-actions .action:active {
  color: #d9534f;
}

/* Add Booking Slot - Option Select */

.option-bold {
  color: #212121;
  font-weight: bold;
}
.option-fade {
  color: #ccc;
}
